---
http_interactions:
- request:
    method: get
    uri: https://api.unleashedsoftware.com/SalesOrders?orderNumber=711
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Api-Auth-Id:
      - API_ID
      Api-Auth-Signature:
      - GbOEKTC0SQ4gIgUc9UWcuGVJ1K53UydnlH2p6JrrSaU=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Allow:
      - GET, POST
    body:
      encoding: UTF-8
      string: '{"Pagination":{"NumberOfItems":0,"PageSize":200,"PageNumber":0,"NumberOfPages":0},"Items":[]}'
  recorded_at: Mon, 20 Oct 2014 13:43:44 GMT
- request:
    method: get
    uri: https://api.unleashedsoftware.com/Customers?customerCode=test@test.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Api-Auth-Id:
      - API_ID
      Api-Auth-Signature:
      - vWfUzrSFEWp/OK1TokpczpZmpw8LtYmZ+ShPJsKIK9U=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Allow:
      - GET, POST
    body:
      encoding: UTF-8
      string: '{"Pagination":{"NumberOfItems":1,"PageSize":200,"PageNumber":1,"NumberOfPages":1},"Items":[{"Addresses":[],"CustomerCode":"test@test.com","CustomerName":"test","GSTVATNumber":null,"BankName":null,"BankBranch":null,"BankAccount":null,"Website":null,"PhoneNumber":null,"FaxNumber":null,"MobileNumber":null,"DDINumber":null,"TollFreeNumber":null,"Email":null,"EmailCC":null,"Currency":{"CurrencyCode":"USD","Description":"United
        States of America, Dollars","Guid":"5a01c14a-ccf4-4f34-846b-eff6dd70da1c","LastModifiedOn":null},"Notes":null,"Taxable":true,"XeroContactId":null,"SalesPerson":null,"DiscountRate":null,"PrintPackingSlipInsteadOfInvoice":null,"PrintInvoice":null,"StopCredit":false,"Obsolete":false,"XeroSalesAccount":null,"XeroCostOfGoodsAccount":null,"SellPriceTier":"","SellPriceTierReference":null,"CustomerType":"","PaymentTerm":"","ContactFirstName":null,"ContactLastName":null,"SourceId":null,"CreatedBy":"wesleyketchum@gmail.com","Guid":"c3d22457-b74a-4677-b719-d26988d1d3e5","LastModifiedOn":"\/Date(1413424319073)\/"}]}'
  recorded_at: Mon, 20 Oct 2014 13:43:45 GMT
- request:
    method: post
    uri: https://api.unleashedsoftware.com/SalesOrders/f96626e2-cde4-43dc-8f35-192b9b2c4ff0?customerCode=test@test.com
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <SalesOrder xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://api.unleashedsoftware.com/version/1">
          <Guid>f96626e2-cde4-43dc-8f35-192b9b2c4ff0</Guid>
          <OrderNumber>711</OrderNumber>
          <OrderStatus>Placed</OrderStatus>
          <Tax>
            <Guid>f96626e2-cde4-43dc-8f35-192b9b2c4ff0</Guid>
            <TaxCode>None</TaxCode>
            <TaxRate>0.0</TaxRate>
          </Tax>
          <Customer>
            <Guid>c3d22457-b74a-4677-b719-d26988d1d3e5</Guid>
            <CustomerCode>test@test.com</CustomerCode>
          </Customer>
        </SalesOrder>
    headers:
      Content-Type:
      - application/xml
      Api-Auth-Id:
      - API_ID
      Api-Auth-Signature:
      - vWfUzrSFEWp/OK1TokpczpZmpw8LtYmZ+ShPJsKIK9U=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Allow:
      - GET, POST
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\"?>\r\n<SalesOrder xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns=\"http://api.unleashedsoftware.com/version/1\">\r\n
        \ <Guid>f96626e2-cde4-43dc-8f35-192b9b2c4ff0</Guid>\r\n  <LastModifiedOn>2014-10-20T13:43:41.47</LastModifiedOn>\r\n
        \ <OrderNumber>711</OrderNumber>\r\n  <OrderDate>2014-10-20T13:43:41.44</OrderDate>\r\n
        \ <RequiredDate xsi:nil=\"true\" />\r\n  <OrderStatus>Parked</OrderStatus>\r\n
        \ <Customer>\r\n    <Guid>c3d22457-b74a-4677-b719-d26988d1d3e5</Guid>\r\n
        \   <LastModifiedOn>2014-10-16T14:51:59.073</LastModifiedOn>\r\n    <CustomerCode>test@test.com</CustomerCode>\r\n
        \   <CustomerName>test</CustomerName>\r\n  </Customer>\r\n  <Warehouse>\r\n
        \   <Guid>afc4e712-538b-45b4-a07a-d5185e909b62</Guid>\r\n    <LastModifiedOn
        xsi:nil=\"true\" />\r\n    <WarehouseCode>W1</WarehouseCode>\r\n    <WarehouseName>Warehouse</WarehouseName>\r\n
        \   <IsDefault>true</IsDefault>\r\n    <ContactName />\r\n  </Warehouse>\r\n
        \ <ReceivedDate xsi:nil=\"true\" />\r\n  <Currency>\r\n    <Guid>5a01c14a-ccf4-4f34-846b-eff6dd70da1c</Guid>\r\n
        \   <LastModifiedOn xsi:nil=\"true\" />\r\n    <CurrencyCode>USD</CurrencyCode>\r\n
        \   <Description>United States of America, Dollars</Description>\r\n  </Currency>\r\n
        \ <ExchangeRate>1.000000</ExchangeRate>\r\n  <DiscountRate>0.0000</DiscountRate>\r\n
        \ <Tax>\r\n    <Guid>00000000-0000-0000-0000-000000000000</Guid>\r\n    <LastModifiedOn
        xsi:nil=\"true\" />\r\n    <TaxCode>None</TaxCode>\r\n    <TaxRate>0.000000</TaxRate>\r\n
        \   <CanApplyToExpenses>false</CanApplyToExpenses>\r\n    <CanApplyToRevenue>false</CanApplyToRevenue>\r\n
        \ </Tax>\r\n  <TaxRate>0.000000</TaxRate>\r\n  <XeroTaxCode>None</XeroTaxCode>\r\n
        \ <SubTotal>0.000</SubTotal>\r\n  <TaxTotal>0.000</TaxTotal>\r\n  <Total>0.000</Total>\r\n
        \ <TotalVolume xsi:nil=\"true\" />\r\n  <TotalWeight xsi:nil=\"true\" />\r\n
        \ <BCSubTotal xsi:nil=\"true\" />\r\n  <BCTaxTotal xsi:nil=\"true\" />\r\n
        \ <BCTotal xsi:nil=\"true\" />\r\n  <PaymentDueDate>2014-10-20T13:43:41.47</PaymentDueDate>\r\n
        \ <SendAccountingJournalOnly>false</SendAccountingJournalOnly>\r\n  <CreatedBy>api@unleashedsoftware.com</CreatedBy>\r\n
        \ <SalesOrderLines />\r\n</SalesOrder>"
  recorded_at: Mon, 20 Oct 2014 13:43:46 GMT
recorded_with: VCR 2.9.3
