---
http_interactions:
- request:
    method: get
    uri: https://api.unleashedsoftware.com/Warehouses
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Api-Auth-Id:
      - API_ID
      Api-Auth-Signature:
      - AX5BPejDCorpbac37ZkdvGpASI32ji3FnAdgt8SWwqs=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Allow:
      - GET
    body:
      encoding: UTF-8
      string: '{"Pagination":{"NumberOfItems":1,"PageSize":200,"PageNumber":1,"NumberOfPages":1},"Items":[{"WarehouseCode":"W1","WarehouseName":"Warehouse","IsDefault":true,"StreetNo":null,"AddressLine1":null,"AddressLine2":null,"City":null,"Region":null,"Country":null,"PostCode":null,"PhoneNumber":null,"FaxNumber":null,"MobileNumber":null,"DDINumber":null,"ContactName":"","Guid":"afc4e712-538b-45b4-a07a-d5185e909b62","LastModifiedOn":null}]}'
  recorded_at: Mon, 20 Oct 2014 13:30:29 GMT
- request:
    method: get
    uri: https://api.unleashedsoftware.com/Products?productCode=9160
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Api-Auth-Id:
      - API_ID
      Api-Auth-Signature:
      - vLQ74BSb1AULsTDyXmDsmXpSsOOQen3r7c21UhA9lCU=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Allow:
      - GET, POST
    body:
      encoding: UTF-8
      string: '{"Pagination":{"NumberOfItems":1,"PageSize":200,"PageNumber":1,"NumberOfPages":1},"Items":[{"ProductCode":"9160","ProductDescription":"something","Barcode":null,"PackSize":null,"Width":null,"Height":null,"Depth":null,"Weight":null,"MinStockAlertLevel":null,"MaxStockAlertLevel":null,"ReOrderPoint":null,"UnitOfMeasure":null,"NeverDiminishing":false,"LastCost":0.0000,"DefaultPurchasePrice":null,"DefaultSellPrice":null,"AverageLandPrice":0.0000,"Obsolete":false,"Notes":null,"SellPriceTier1":{"Name":"Sell
        Price Tier 1","Value":null},"SellPriceTier2":{"Name":"Sell Price Tier 2","Value":null},"SellPriceTier3":{"Name":"Sell
        Price Tier 3","Value":null},"SellPriceTier4":{"Name":"Sell Price Tier 4","Value":null},"SellPriceTier5":{"Name":"Sell
        Price Tier 5","Value":null},"SellPriceTier6":{"Name":"Sell Price Tier 6","Value":null},"SellPriceTier7":{"Name":"Sell
        Price Tier 7","Value":null},"SellPriceTier8":{"Name":"Sell Price Tier 8","Value":null},"SellPriceTier9":{"Name":"Sell
        Price Tier 9","Value":null},"SellPriceTier10":{"Name":"Sell Price Tier 10","Value":null},"XeroTaxCode":null,"XeroTaxRate":null,"TaxablePurchase":null,"TaxableSales":null,"XeroSalesTaxCode":null,"XeroSalesTaxRate":null,"IsComponent":false,"IsAssembledProduct":false,"CanAutoAssemble":false,"ProductGroup":null,"XeroSalesAccount":null,"BinLocation":null,"Supplier":null,"SourceId":null,"CreatedBy":null,"SourceVariantParentId":null,"Guid":"eed6db73-81af-49f0-ae17-23d8c52ef0a4","LastModifiedOn":"\/Date(1413269988733)\/"}]}'
  recorded_at: Mon, 20 Oct 2014 13:30:29 GMT
- request:
    method: post
    uri: https://api.unleashedsoftware.com/StockAdjustments/f96626e2-cde4-43dc-8f35-192b9b2c4ff0?productCode=9160
    body:
      encoding: UTF-8
      string: '{"Guid":"f96626e2-cde4-43dc-8f35-192b9b2c4ff0","Warehouse":{"WarehouseName":"Warehouse","WarehouseCode":"W1"},"AdjustmentReason":"Adjustment","StockAdjustmentLines":[{"Guid":"f96626e2-cde4-43dc-8f35-192b9b2c4ff0","NewQuantity":1,"NewActualValue":0.0,"Product":{"ProductCode":"9160","ProductDescription":"something","Guid":"eed6db73-81af-49f0-ae17-23d8c52ef0a4"}}]}'
    headers:
      Content-Type:
      - application/json
      Api-Auth-Id:
      - API_ID
      Api-Auth-Signature:
      - vLQ74BSb1AULsTDyXmDsmXpSsOOQen3r7c21UhA9lCU=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Allow:
      - GET
    body:
      encoding: UTF-8
      string: '{"AdjustmentNumber":"SA-00000020","Warehouse":{"WarehouseCode":"W1","WarehouseName":"Warehouse","IsDefault":true,"StreetNo":null,"AddressLine1":null,"AddressLine2":null,"City":null,"Region":null,"Country":null,"PostCode":null,"PhoneNumber":null,"FaxNumber":null,"MobileNumber":null,"DDINumber":null,"ContactName":"","Guid":"afc4e712-538b-45b4-a07a-d5185e909b62","LastModifiedOn":null},"AdjustmentDate":"\/Date(1413765025470)\/","AdjustmentReason":"Adjustment","Status":"Parked","StockAdjustmentLines":[{"LineNumber":1,"Product":{"Guid":"eed6db73-81af-49f0-ae17-23d8c52ef0a4","ProductCode":"9160","ProductDescription":"something"},"NewQuantity":1.0000,"NewActualValue":0.000,"Comments":null,"Guid":"f96626e2-cde4-43dc-8f35-192b9b2c4ff0","LastModifiedOn":"\/Date(1413765025483)\/"}],"ConfirmedOn":null,"ConfirmedBy":null,"Guid":"f96626e2-cde4-43dc-8f35-192b9b2c4ff0","LastModifiedOn":"\/Date(1413765025470)\/"}'
  recorded_at: Mon, 20 Oct 2014 13:30:30 GMT
recorded_with: VCR 2.9.3
