---
http_interactions:
- request:
    method: get
    uri: https://api.unleashedsoftware.com/products?modifiedSince=2014-10-13T00:00:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Api-Auth-Id:
      - API_ID
      Api-Auth-Signature:
      - J+xJTds25CLu9ShPtij2eEIbF+Eqna728ie70U8UJ0c=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Allow:
      - GET, POST
    body:
      encoding: UTF-8
      string: '{"Pagination":{"NumberOfItems":4,"PageSize":200,"PageNumber":1,"NumberOfPages":1},"Items":[{"ProductCode":"1111","ProductDescription":"something","Barcode":null,"PackSize":null,"Width":null,"Height":null,"Depth":null,"Weight":null,"MinStockAlertLevel":null,"MaxStockAlertLevel":null,"ReOrderPoint":null,"UnitOfMeasure":null,"NeverDiminishing":false,"LastCost":0.0000,"DefaultPurchasePrice":null,"DefaultSellPrice":null,"AverageLandPrice":0.0000,"Obsolete":false,"Notes":null,"SellPriceTier1":{"Name":"Sell
        Price Tier 1","Value":null},"SellPriceTier2":{"Name":"Sell Price Tier 2","Value":null},"SellPriceTier3":{"Name":"Sell
        Price Tier 3","Value":null},"SellPriceTier4":{"Name":"Sell Price Tier 4","Value":null},"SellPriceTier5":{"Name":"Sell
        Price Tier 5","Value":null},"SellPriceTier6":{"Name":"Sell Price Tier 6","Value":null},"SellPriceTier7":{"Name":"Sell
        Price Tier 7","Value":null},"SellPriceTier8":{"Name":"Sell Price Tier 8","Value":null},"SellPriceTier9":{"Name":"Sell
        Price Tier 9","Value":null},"SellPriceTier10":{"Name":"Sell Price Tier 10","Value":null},"XeroTaxCode":null,"XeroTaxRate":null,"TaxablePurchase":null,"TaxableSales":null,"XeroSalesTaxCode":null,"XeroSalesTaxRate":null,"IsComponent":false,"IsAssembledProduct":false,"CanAutoAssemble":false,"ProductGroup":null,"XeroSalesAccount":null,"BinLocation":null,"Supplier":null,"SourceId":null,"CreatedBy":"wesleyketchum@gmail.com","SourceVariantParentId":null,"Guid":"18ff2387-67c5-4ef7-a8be-1e9dd67c7f7e","LastModifiedOn":"\/Date(1413283318353)\/"},{"ProductCode":"123","ProductDescription":"cool
        product","Barcode":null,"PackSize":null,"Width":null,"Height":null,"Depth":null,"Weight":null,"MinStockAlertLevel":null,"MaxStockAlertLevel":null,"ReOrderPoint":null,"UnitOfMeasure":null,"NeverDiminishing":false,"LastCost":null,"DefaultPurchasePrice":0.0000,"DefaultSellPrice":0.0000,"AverageLandPrice":0.0000,"Obsolete":false,"Notes":null,"SellPriceTier1":{"Name":"Sell
        Price Tier 1","Value":null},"SellPrice[...]
