---
http_interactions:
- request:
    method: get
    uri: https://api.unleashedsoftware.com/StockOnHand?modifiedSince=2014-10-08T00:00:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Api-Auth-Id:
      - API_ID
      Api-Auth-Signature:
      - nFvpe2bzbLv/pMIDpluE/UVt8N4dpZrFNrU4iFPUKFo=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Allow:
      - GET
    body:
      encoding: UTF-8
      string: '{"Pagination":{"NumberOfItems":5,"PageSize":200,"PageNumber":1,"NumberOfPages":1},"Items":[{"ProductCode":"1111","ProductDescription":"something","ProductGuid":"18ff2387-67c5-4ef7-a8be-1e9dd67c7f7e","ProductSourceId":null,"ProductGroupName":"","WarehouseId":"afc4e712-538b-45b4-a07a-d5185e909b62","Warehouse":"Warehouse","WarehouseCode":"W1","DaysSinceLastSale":0,"OnPurchase":0.0000,"AllocatedQty":0.0000,"AvailableQty":0.0000,"QtyOnHand":0.0000,"AvgCost":0.0000,"TotalCost":0.0000,"Guid":"18ff2387-67c5-4ef7-a8be-1e9dd67c7f7e","LastModifiedOn":"\/Date(1413283322363)\/"},{"ProductCode":"123","ProductDescription":"cool
        product","ProductGuid":"8cd7e7d4-663e-4f08-aaaf-42b030293876","ProductSourceId":null,"ProductGroupName":"","WarehouseId":"afc4e712-538b-45b4-a07a-d5185e909b62","Warehouse":"Warehouse","WarehouseCode":"W1","DaysSinceLastSale":0,"OnPurchase":0.0000,"AllocatedQty":5.0000,"AvailableQty":-5.0000,"QtyOnHand":0.0000,"AvgCost":0.0000,"TotalCost":0.0000,"Guid":"8cd7e7d4-663e-4f08-aaaf-42b030293876","LastModifiedOn":"\/Date[...]
