---
http_interactions:
- request:
    method: get
    uri: https://api.unleashedsoftware.com/SalesOrders?modifiedSince=2014-10-01T00:00:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Api-Auth-Id:
      - API_ID
      Api-Auth-Signature:
      - zj9TcR81a32OoeqZUdoUJURz4kMuvYQ6jK3gfTyhkA8=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Allow:
      - GET, POST
    body:
      encoding: UTF-8
      string: '{"Pagination":{"NumberOfItems":22,"PageSize":200,"PageNumber":1,"NumberOfPages":1},"Items":[{"SalesOrderLines":[],"OrderNumber":"287","OrderDate":"\/Date(1413762774683)\/","RequiredDate":null,"OrderStatus":"Parked","Customer":{"CustomerCode":"test@test.com","CustomerName":"test","Guid":"c3d22457-b74a-4677-b719-d26988d1d3e5","LastModifiedOn":"\/Date(1413424319073)\/"},"CustomerRef":null,"Comments":null,"Warehouse":{"WarehouseCode":"W1","WarehouseName":"Warehouse","IsDefault":true,"StreetNo":null,"AddressLine1":null,"AddressLine2":null,"City":null,"Region":null,"Country":null,"PostCode":null,"PhoneNumber":null,"FaxNumber":null,"MobileNumber":null,"DDINumber":null,"ContactName":"","Guid":"afc4e712-538b-45b4-a07a-d5185e909b62","LastModifiedOn":null},"ReceivedDate":null,"DeliveryName":null,"DeliveryStreetAddress":null,"DeliverySuburb":null,"DeliveryCity":null,"DeliveryRegion":null,"DeliveryCountry":null,"DeliveryPostCode":null,"Currency":{"CurrencyCode":"USD","Description":"United
        States of America, Dollars","Guid":"5a01c14a-ccf4-4f34-846b-eff6dd70da1c","LastModifiedOn":null},"ExchangeRate":1.000000,"DiscountRate":0.0000,"Tax":{"TaxCode":"None","Description":null,"TaxRate":0.000000,"CanApplyToExpenses":false,"CanApplyToRevenue":false,"Guid":"00000000-0000-0000-0000-000000000000","LastModifiedOn":null},"TaxRate":0.000000,"XeroTaxCode":"None","SubTotal":0.000,"TaxTotal":0.000,"Total":0.000,"TotalVolume":null,"TotalWeight":null,"BCSubTotal":null,"BCTaxTotal":null,"BCTotal":null,"PaymentDueDate":"\/Date(1413762774747)\/","SalesOrderGroup":null,"DeliveryMethod":null,"SalesPerson":null,"SendAccountingJournalOnly":false,"SourceId":null,"CreatedBy":"api@unleashedsoftware.com","Guid":"f39dca38-d224-4253-ad1e-59ac07cfc0dc","LastModifiedOn":"\/Date(1413762774793)\/"},{"SalesOrderLines":[],"OrderNumber":"169","OrderDate":"\/Date(1413760045883)\/","RequiredDate":null,"OrderStatus":"Parked","Customer":{"CustomerCode":"test@test.com","CustomerName":"test","Guid":"c3d22457-b74a-4677-b719-d26988d1d3e5","LastModifiedOn":"\/Date(1413424319073)\/"},"CustomerRef":null,"Comments":null,"Warehouse":{"WarehouseCode":"W1","WarehouseName":"Warehouse","IsDefa[...]
- request:
    method: get
    uri: https://api.unleashedsoftware.com/Customers/c3d22457-b74a-4677-b719-d26988d1d3e5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Api-Auth-Id:
      - API_ID
      Api-Auth-Signature:
      - AX5BPejDCorpbac37ZkdvGpASI32ji3FnAdgt8SWwqs=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Allow:
      - GET, POST
    body:
      encoding: UTF-8
      string: '{"Addresses":[],"CustomerCode":"test@test.com","CustomerName":"test","GSTVATNumber":null,"BankName":null,"BankBranch":null,"BankAccount":null,"Website":null,"PhoneNumber":null,"FaxNumber":null,"MobileNumber":null,"DDINumber":null,"TollFreeNumber":null,"Email":null,"EmailCC":null,"Currency":{"CurrencyCode":"USD","Description":"United
        States of America, Dollars","Guid":"5a01c14a-ccf4-4f34-846b-eff6dd70da1c","LastModifiedOn":null},"Notes":null,"Taxable":true,"XeroContactId":null,"SalesPerson":null,"DiscountRate":null,"PrintPackingSlipInsteadOfInvoice":null,"PrintInvoice":null,"StopCredit":false,"Obsolete":false,"XeroSalesAccount":null,"XeroCostOfGoodsAccount":null,"SellPriceTier":"","SellPriceTierReference":null,"CustomerType":"","PaymentTerm":"","ContactFirstName":null,"ContactLastName":null,"SourceId":null,"CreatedBy":"wesleyketchum@gmail.com","Guid":"c3d22457-b74a-4677-b719-d26988d1d3e5","LastModifiedOn":"\/Date(1413424319073)\/"}'
  recorded_at: Mon, 20 Oct 2014 13:32:19 GMT
[...]
- request:
    method: get
    uri: https://api.unleashedsoftware.com/Customers/6739a193-a113-4128-897f-001ad1a7982a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Api-Auth-Id:
      - API_ID
      Api-Auth-Signature:
      - AX5BPejDCorpbac37ZkdvGpASI32ji3FnAdgt8SWwqs=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Allow:
      - GET, POST
    body:
      encoding: UTF-8
      string: '{"Addresses":[{"AddressType":"Postal","AddressName":"1234 fake street","StreetAddress":null,"Suburb":null,"City":"Bethesda","Region":"Maryland","Country":"United
        States","PostalCode":"20818"}],"CustomerCode":"001","CustomerName":"wes ketchum","GSTVATNumber":null,"BankName":null,"BankBranch":null,"BankAccount":null,"Website":null,"PhoneNumber":null,"FaxNumber":null,"MobileNumber":null,"DDINumber":null,"TollFreeNumber":null,"Email":"wes@wes.com","EmailCC":"westest@test.com","Currency":{"CurrencyCode":"USD","Description":"United
        States of America, Dollars","Guid":"5a01c14a-ccf4-4f34-846b-eff6dd70da1c","LastModifiedOn":null},"Notes":null,"Taxable":true,"XeroContactId":null,"SalesPerson":null,"DiscountRate":0.0000,"PrintPackingSlipInsteadOfInvoice":false,"PrintInvoice":false,"StopCredit":false,"Obsolete":false,"XeroSalesAccount":null,"XeroCostOfGoodsAccount":null,"SellPriceTier":"","SellPriceTierReference":null,"CustomerType":"","PaymentTerm":"","ContactFirstName":null,"ContactLastName":null,"SourceId":null,"CreatedBy":"wesleyketchum@gmail.com","Guid":"6739a193-a113-4128-897f-001ad1a7982a","LastModifiedOn":"\/Date(1413262816173)\/"}'
  recorded_at: Mon, 20 Oct 2014 13:32:30 GMT
[...]
- request:
    method: get
    uri: https://api.unleashedsoftware.com/Customers/4d2dbc7b-e2d7-4034-b94d-2554988ea388
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Api-Auth-Id:
      - API_ID
      Api-Auth-Signature:
      - AX5BPejDCorpbac37ZkdvGpASI32ji3FnAdgt8SWwqs=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Allow:
      - GET, POST
    body:
      encoding: UTF-8
      string: '{"Addresses":[],"CustomerCode":"ACE001","CustomerName":"Ace Outlets","GSTVATNumber":"","BankName":"","BankBranch":"","BankAccount":"","Website":"","PhoneNumber":"","FaxNumber":"","MobileNumber":"","DDINumber":"","TollFreeNumber":"","Email":"","EmailCC":null,"Currency":{"CurrencyCode":"USD","Description":"United
        States of America, Dollars","Guid":"5a01c14a-ccf4-4f34-846b-eff6dd70da1c","LastModifiedOn":null},"Notes":"","Taxable":true,"XeroContactId":null,"SalesPerson":null,"DiscountRate":0.0000,"PrintPackingSlipInsteadOfInvoice":false,"PrintInvoice":true,"StopCredit":false,"Obsolete":false,"XeroSalesAccount":null,"XeroCostOfGoodsAccount":null,"SellPriceTier":"Sell
        Price Tier 1","SellPriceTierReference":{"Reference":"SellPriceTier1"},"CustomerType":"General","PaymentTerm":"20th
        Month following","ContactFirstName":null,"ContactLastName":null,"SourceId":null,"CreatedBy":"admin","Guid":"4d2dbc7b-e2d7-4034-b94d-2554988ea388","LastModifiedOn":null}'
  recorded_at: Mon, 20 Oct 2014 13:32:39 GMT
recorded_with: VCR 2.9.3
