---
http_interactions:
- request:
    method: get
    uri: https://api.unleashedsoftware.com/customers?modifiedSince=2014-10-01T00:00:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Api-Auth-Id:
      - API_ID
      Api-Auth-Signature:
      - zj9TcR81a32OoeqZUdoUJURz4kMuvYQ6jK3gfTyhkA8=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Allow:
      - GET, POST
    body:
      encoding: UTF-8
      string: '{"Pagination":{"NumberOfItems":11,"PageSize":200,"PageNumber":1,"NumberOfPages":1},"Items":[{"Addresses":[{"AddressType":"Postal","AddressName":"1234
        fake street","StreetAddress":null,"Suburb":null,"City":"Bethesda","Region":"Maryland","Country":"United
        States","PostalCode":"20818"}],"CustomerCode":"001","CustomerName":"wes ketchum","GSTVATNumber":null,"BankName":null,"BankBranch":null,"BankAccount":null,"Website":null,"PhoneNumber":null,"FaxNumber":null,"MobileNumber":null,"DDINumber":null,"TollFreeNumber":null,"Email":"wes@wes.com","EmailCC":"westest@test.com","Currency":{"CurrencyCode":"USD","Description":"United
        States of America, Dollars","Guid":"5a01c14a-ccf4-4f34-846b-eff6dd70da1c","LastModifiedOn":null},"Notes":null,"Taxable":true,"XeroContactId":null,"SalesPerson":null,"DiscountRate":0.0000,"PrintPackingSlipInsteadOfInvoice":false,"PrintInvoice":false,"StopCredit":false,"Obsolete":false,"XeroSalesAccount":null,"XeroCostOfGoodsAccount":null,"SellPriceTier":"","SellPriceTierReference":null,"CustomerType":"","PaymentTerm":"","ContactFirstName":null,"ContactLastName":null,"SourceId":null,"CreatedBy":"wesleyketchum@gmail.com","Guid":"6739a193-a113-4128-897f-001ad1a7982a","LastModifiedOn":"\/Date(1413262816173)\/"},{"Addresses":[],"CustomerCode":"1234555","CustomerName":"test
        ","GSTVATNumber":null,"BankName":null,"BankBranch":null,"BankAccount":null,"Website":null,"PhoneNumber":null,"FaxNumber":null,"MobileNumber":null,"DDINumber":null,"TollFreeNumber":null,"Email":null,"EmailCC":null,"Currency":{"CurrencyCode":"USD","Description":"United
        States of America, Dollars","Guid":"5a[...]
